{{#if success_msg}}
<div class="alert alert-success fade in alert_cvr sucalert_cvr" role="alert">
{{success_msg}}
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger fade in alert_cvr erralert_cvr" role="alert">
{{error_msg}}
</div>
{{/if}}

{{#if info_msg}}
<div class="alert alert-info fade in alert_cvr infoalert_cvr" role="alert">
{{info_msg}}
</div>
{{/if}}

{{#if warn_msg}}
<div class="alert alert-warning fade in alert_cvr warnalert_cvr" role="alert">
{{warn_msg}}
</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger fade in alert_cvr erralert_cvr" role="alert">
{{error}}
</div>
{{/if}}